html, body {
    width: 100%;
    overflow: none;
}
* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    color: white;
}
.font-sm {
    font-size: 14px;
}